@font-face {
    font-family: 'WhiteRabbit';
    src: url('whitrabt.ttf') format('truetype');
}
@font-face {
    font-family: 'UbuntuTitle';
    src: url(Ubuntu-Title.ttf) format('truetype');
}
body{
    /* Possible colors: #ECECEC, black */
    background-color: #ECECEC;
    /*border: 1px solid #707e8d*/
}
a{
    font-family: 'UbuntuTitle', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
h1{
    margin-bottom: 2px;
}
h3{
    margin-top: 1px;
}
p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#inText{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
#inText:hover{
    color:rgb(195, 123, 197);
}
a:hover{
    color:rgb(195, 123, 197);
}
img{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#webname{
    padding-bottom: 10px;
}
.head_container{
    background-color: #707e8d;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;

    display: flex;
}
.head_container > *{
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.about_me{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 512px;
    margin: auto;
}

/* Social media icon code from here */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa-linkedin{
      background-color: #707e8d;
      color: rgb(255, 255, 255);
  }
  .fa-github{
      background-color: #707e8d;
      color: rgb(255, 255, 255);
  }
  .fa-google{
      background-color: #707e8d;
      color: rgb(255, 255, 255);
  }