@font-face {
    font-family: 'WhiteRabbit';
    src: url('whitrabt.ttf') format('truetype');
}
@font-face {
    font-family: 'UbuntuTitle';
    src: url(Ubuntu-Title.ttf) format('truetype');
}
body{
    /* Possible colors: #ECECEC, black */
    background-color: #ECECEC;
    border: 1px solid #707e8d
}
a{
    font-family: 'WhiteRabbit','UbuntuTitle', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color:rgb(45, 76, 109);
}
img{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.head_container{
    background-color: #707e8d;
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 0px;

    display: flex;
}
.head_container > *{
    flex-grow: 1;
    flex-basis: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}
.about_me{
    text-align: center;
}
